//-----------------------Header Styles-----------
    //Header Nav menu
$nav-text-color: #fff;
$logo-title-fsz: 1.875rem;
$navbar-fsz: 1.125rem;
$navbar-item-pad: 1.5rem;

  //Header Title
$content-line-h:1;

$title-fsz: 5.75rem;
$title-color-red: #ed6950;
$title-color: #ffffff;
$text-fsz: 1.1875rem;
$title-text-color: #71797d;

$btn-color:#b98000;
$btn-bgc:#ffc74a;
$btn-fsz:0.875rem;
$btn-padding:1.3125rem 2rem;
//-----------------------Header Styles ENDs-------

//-----------------------Cities Section----------
$cities-title-fsz:1.125rem;
$cities-title-color:#ffffff;

$catalog-title-color:#ffffff;
$catalog-title-fsz:1.875rem;

$catalog-text-color:#ffc74a;
$catalog-text-fsz:0.875rem;

$catalog-cont-center-fsz:3rem;
$catalog-cont-center-color:#ffffff;
$btn-catalog-fsz:0.875rem;

//-----------------------Cities Section ENDs----------

//-----------------------Cities Section----------
